body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
.content {
    padding: 20px;
    text-align: center;
}
.content h1 {
    color: #333;
}
.content p {
    color: #666;
}
.links{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}