{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet"href="{% static 'Frontend/about.css' %}"/>
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'shop' %}">Shop</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact'%}">Contact</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <div class="about-container">
        <h2>Welcome to Baby Clothes Store</h2>
        <p>We are dedicated to providing high-quality, comfortable, and stylish clothing for babies. Our mission is to make dressing your little ones a fun and enjoyable experience for both parents and babies alike.</p>
        <p>At Baby Clothes Store, we carefully select our fabrics to ensure they are soft and gentle on your baby's delicate skin. From adorable onesies to cozy pajamas, we offer a wide range of options to suit every baby's style and personality.</p>
        <p>Thank you for choosing Baby Clothes Store for all your baby clothing needs. We look forward to serving you and your little ones!</p>
    </div>
</body>
</html>
